@use "vendors";
@use "vars";
@use "fonts";
@use "mixins";
@use "icons";
@use "settings";


.dropdown {
    position: relative;
    &__toggle {
        cursor: pointer;
    }
    &__chevron {
        font-size: var(--small-font-size);
        margin-left: var(--small-gap);
    }
    &__content {
        position: absolute;
        opacity: 0;
        visibility: hidden;
    }
}
.z-up {
    z-index: 10;
    transform: translateY(20px);
    transition: opacity var(--base-anim), transform var(--base-anim);
    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}
.tree {
    &__content {
        top: auto;
        &.to-left {
            left: 100%;
            right: auto;
        }
        &.to-right {
            left: auto;
            right: 100%;
        }
    }
}
.accordion {
    position: static;
    &__content {
        position: static;
        height: 0;
        transform: translateY(10px);
        transition: opacity var(--base-anim), transform var(--base-anim);
        &.active {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            height: auto;
        }
    }
}
.sublist {
    padding: 1em;
    min-width: 60px;
    max-width: 200px;
    width: max-content;
    line-height: 2em;
    background-color: var(--light-color);
    box-shadow: var(--shadow);
    & li {
        padding: 0 1em;
    }
}
.bigmenu {
    position: static;
    &__wrapper {
        top: auto;
        left: 0;
        right: 0;
        background-color: transparent;
    }
    &__content {
        padding: 2em;
        background-color: var(--light-color);
        box-shadow: var(--shadow);
    }
}
.modal {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    z-index: 30;
    overflow: auto;
    &__close-btn {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2em;
    }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
    pointer-events: none;
    opacity: 0;
    background-color: rgb(0 0 0 / 70%);
    transition: opacity var(--base-anim);
    &.active {
        opacity: 1;
        pointer-events: all;
    }
}
.mobile-menu {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--base-gap);
    padding: 2em 1em;
    width: calc(var(--min-container-width) - 30px);
    height: 100vh;
    line-height: 2em;
    background-color: var(--light-color);

    transform: translateX(-100%);
    transition: opacity var(--base-anim), transform var(--base-anim);
    &__menu {
        overflow-y: auto;
        scrollbar-color: var(--accent-color) var(--light-color);
        scrollbar-width: thin;
        height: 100%;
    }
    &__list {
        height: auto;
    }
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: var(--base-font-size);
    }
    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}
.wish-modal, .compare-modal, .bag-modal {
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--base-gap);
    padding: 2em 1em;
    width: calc(var(--min-container-width) - 30px);
    height: 100vh;
    background-color: var(--light-color);

    transform: translateX(100%);
    transition: opacity var(--base-anim), transform var(--base-anim);
    &__content {
        overflow-y: auto;
        scrollbar-color: var(--accent-color) var(--light-color);
        scrollbar-width: thin;
    }
    &__list {
        height: auto;
    }
    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}
.search-modal {
    top: 0;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 2em 1em;
    background-color: var(--light-color);

    transform: translateY(-100%);
    transition: opacity var(--base-anim), transform var(--base-anim);
    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}
.search-form {
    position: relative;
    display: flex;
    align-items: center;
    &__icon {
        position: absolute;
        font-size: 2em;
        &.disabled {
            color: var(--weak-contrast-color);
            left: 3px;
        }
    }
    &__input {
        padding: 10px 30px;
        border: 1px solid var(--text-color);
        border-radius: 6px;
        font-size: var(--big-font-size);
        &::placeholder {
            color: var(--weak-contrast-color);
        }
        &:focus {
            border: 1px solid var(--text-color);
            box-shadow: 0 0 2px var(--text-color);
            outline-offset: 0px;
            outline: none;
        }
    }
    &__submit {
        right: 3px;
    }
}
.btn-light {
    color: var(--text-color);
    background-color: var(--light-color);
    border: 1px solid;
    border-color: var(--dark-color);
    border-radius: 8px;

    transition: color var(--base-anim), background-color var(--base-anim);
    &:hover {
        color: var(--light-color);
        background-color: var(--dark-color);
    }
}
.btn-dark {
    color: var(--light-color);
    background-color: var(--dark-color);
    border: 1px solid;
    border-color: var(--dark-color);
    border-radius: 8px;

    transition: color var(--base-anim), background-color var(--base-anim);
    &:hover {
        color: var(--text-color);
        background-color: var(--light-color);
    }
}

/* mode */
#mode-btn {
    display: none;
}
.mode-trigger {
    display: inline-block;
    position: relative;
    height: 1.15em;
    width: 2.5em;
    border-radius: 0.6em;
    background-color: var(--weak-contrast-color);
    transition: background-color var(--base-anim);
}
.mode-trigger::after {
    position: absolute;
    top: 1px;
    right: 1px;
    content: "";
    width: 1em;
    height: 1em;
    z-index: 2;
    background-color: var(--flash-color);
    border-radius: 50%;
    transform: translateX(-1.38em);
    transition: background-color var(--base-anim), transform var(--base-anim);
}
.mode-trigger.active {
    background-color: var(--medium-contrast-color);
}
.mode-trigger.active::after {
    transform: translateX(0);
    background-color: var(--dark-color);
}
button, a {
    transition: color var(--base-anim);
}
button:hover, a:hover {
    color: var(--weak-contrast-color);
}
a.active {
    pointer-events: none;
    cursor: default;
    color: var(--weak-contrast-color);
}

/* header */
.header {
    &__top {
        padding-top: 3px;
        font-size: 0.92em;
        border-bottom: 1px solid var(--weak-contrast-color);
    }
    &__top-inner {
        display: flex;
        justify-content: space-between;
    }
    &__main-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 60px;
    }
}
.inform {
    display: flex;
    gap: var(--base-gap);
    & i {
        margin-right: var(--small-gap);
    }
}
.options {
    display: flex;
    gap: var(--base-gap);
    &__toggle {
        text-transform: uppercase;
    }
    &__list {
        top: auto;
        left: auto;
        right: 0;
        text-align: center;
        text-transform: uppercase;
    }
}
.menu {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--big-gap);
    &__trigger {
        display: none;
        font-size: var(--big-font-size);
    }
    &__list {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: var(--base-gap);
    }
}
.shop-icons {
    display: flex;
    gap: var(--base-gap);
    &__item {
        position: relative;
    }
    &__qty {
        position: absolute;
        top: -1.2em;
        left: -1.2em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 5px;
        border-radius: 4px 4px 0 4px;
        font-size: 0.92em;
        font-weight: var(--strong-font-weight);
        color: var(--flash-color);
        background-color: var(--accent-color);
    }
}

/* hero */
.hero__swiper {
    width: 600px;
    height: 400px;
}

/* footer */
.footer {
    &__top-inner {
        display: flex;
        justify-content: end;
    }
}

@media only screen and (max-width: 991.98px) {
    .menu {
        &__trigger {
            display: block;
        }
        &__list {
            display: none;
        }
    }
    .search-modal {
        width: 100%;
    }
}
